@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: "Monserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 22px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 10px 40px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
}

.strong-blue {
    color: white;
    background-color: #1F2937;
}

.main-container {
    display: flex;
    flex-direction: column;
}
/*header */

.header{
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 250px;
}

.header p {
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

/* content section one - strong blue*/

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.sp-container{
    margin: 0 250px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.sp-sub-con{
    max-height: 300px;
}

.sp-sub-con h1{
    font-size: 58px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.sp-sub-con p{
    font-size: 22px;
    color: #E5E7EB
}

#main-image {
    width: 700px;
    height: 300px;
}

/* second block - information */

.info-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 250px;
}

.random-information {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}

.image-container {
    color: #65676d;
    font-size: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
    max-width: 1000px;
}

.information-img {
    width: 230px;
    height: 180px;
    border-radius: 15px;
    margin-bottom: 5px;
}


.centered-text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.bold {
    font-weight: bold;
}

/* quote-section block */

.quote-section {
    
    background-color: #E5E7EB ;
    height: 400px;
}

.quote-container{
    margin: 100px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text {
    color: #1f2937d3;
    font-size: 36px;
    font-style: italic;
}

.quote-sign {
    color: #1F2937;
    font-size: 24px;
    text-align: end;
}

/* call to action */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 10px;
    width: 700px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.bb-a{
    color: #F9FAF8;
}

.bb-text {
    font-size: 22px;
}

.button-two {
    border: solid white;
    padding: 10px 40px;
    font-size: 16px;
}

/* footer */

.footer-text {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    color: #E5E7EB;
}